body{
          background-color: chartreuse;
}
h1 {color: darkorange;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 300%;}


p {color: hotpink;
font-family: 'Courier New', Courier, monospace;
font-size: 160%;}